* {
  margin: 0;
  padding: 0;
  color: #f2f4f3;
  touch-action: manipulation;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input {
  -webkit-appearance: none;
          appearance: none;
}

html {
  overflow-x: hidden;
  background-color: #1d1d1d;
}

#entry-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 2000ms ease-in-out 300ms;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
}
#entry-container #entry-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  transition: transform 1000ms ease-in-out;
}
#entry-container #entry-text-container h1, #entry-container #entry-text-container p {
  color: #f2f4f3;
}
#entry-container #entry-text-container h1 {
  font-family: "Rhastelie", sans-serif;
  font-weight: 400;
  font-size: 6rem;
}
#entry-container #entry-text-container p {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#entry-container #entry-button {
  all: unset;
  border: #f2f4f3 solid 3px;
  padding: 10px 20px;
  font-family: basic-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 5px;
  transition: transform 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
  cursor: pointer;
}
#entry-container #entry-button[data-state=hidden] {
  opacity: 0;
}
#entry-container #entry-button:hover {
  transform: scale(0.95);
  color: #1d1d1d;
  background-color: #f2f4f3;
}
#entry-container #entry-bg {
  height: 150%;
  width: 250%;
  background-color: #ff595e;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: height 2000ms ease-in-out;
}
#entry-container[data-state=hidden] {
  transform: translateY(-100%);
}
#entry-container[data-state=hidden] #entry-text-container {
  transform: translateY(-100%);
}
#entry-container[data-state=hidden] #entry-bg {
  height: 20px;
}

#main-container {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  /* This part is a S3CR3T part ;) */
}
#main-container #main-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../images/banner.jpg);
  height: 250px;
  background-position: center;
  background-size: cover;
  z-index: -8;
}
#main-container #main-banner-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgb(29, 29, 29);
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(29, 29, 29, 0) 100%);
  z-index: -7;
}
#main-container #main-profile-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#main-container #main-profile-container #main-name-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-container #main-profile-container #main-name-username #profile-pic {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 10px;
  border: #f2f4f3 solid 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 10px;
}
#main-container #main-profile-container #main-name-username #profile-name {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#main-container #main-profile-container #main-name-username #profile-username {
  font-family: "Rhastelie", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
#main-container #main-profile-container #main-profile-socials-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#main-container #main-profile-container #main-profile-socials-container img {
  aspect-ratio: 1;
  width: 35px;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
#main-container #main-profile-container #main-profile-socials-container img:hover {
  transform: scale(0.9);
  opacity: 1;
}
#main-container #main-profile-container #main-profile-socials-container:hover img:not(:hover) {
  opacity: 0.5;
}
#main-container #main-profile-container #contact-button {
  all: unset;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: #f2f4f3 solid 2px;
  padding: 5px 20px;
  box-sizing: border-box;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out, font-weight 300ms ease-in-out;
  cursor: pointer;
}
#main-container #main-profile-container #contact-button:hover {
  background-color: #f2f4f3;
  color: #1d1d1d;
  transform: scale(0.95);
  font-weight: 600;
}
#main-container #main-project-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-container #main-project-container #play-pause-button {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 10px;
  opacity: 0.1;
  cursor: pointer;
  letter-spacing: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 5px 20px;
  width: auto;
  letter-spacing: 2px;
  -webkit-text-decoration: underline transparent 1px;
          text-decoration: underline transparent 1px;
  text-underline-offset: -3px;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, letter-spacing 300ms ease-in-out, border-bottom 300ms ease-in-out, text-underline-offset 300ms ease-in-out, -webkit-text-decoration 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, letter-spacing 300ms ease-in-out, border-bottom 300ms ease-in-out, text-decoration 300ms ease-in-out, text-underline-offset 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, letter-spacing 300ms ease-in-out, border-bottom 300ms ease-in-out, text-decoration 300ms ease-in-out, text-underline-offset 300ms ease-in-out, -webkit-text-decoration 300ms ease-in-out;
}
#main-container #main-project-container #play-pause-button:hover {
  opacity: 1;
  -webkit-text-decoration: underline #f2f4f3 1px;
          text-decoration: underline #f2f4f3 1px;
  text-underline-offset: 3px;
}
#main-container #main-project-container #play-pause-button:active {
  transition: opacity 10ms ease-in-out;
  opacity: 0.6;
}
#main-container #main-project-container #main-project-title {
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
#main-container #main-project-container #project-container {
  display: flex;
  flex-direction: row;
}
#main-container #main-project-container #project-container button {
  box-sizing: border-box;
  width: 60px;
  background: none;
  outline: none;
  border: none;
  font-size: 3rem;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
#main-container #main-project-container #project-container button:hover {
  opacity: 1;
}
#main-container #main-project-container #project-container .image-container {
  aspect-ratio: 16/9;
  width: 480px;
  background-color: none;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  transition: transform 300ms ease-in-out 300ms, border 300ms ease-in-out;
  border: transparent solid 3px;
  cursor: url("../assets/open.png"), auto;
}
#main-container #main-project-container #project-container .image-container img {
  position: absolute;
  width: 480px;
  height: auto;
  aspect-ratio: 16/9;
  top: 0;
  left: 0;
  transition: filter 300ms ease-in-out;
}
#main-container #main-project-container #project-container .image-container .image-colorizer {
  aspect-ratio: 16/9;
  width: 480px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
#main-container #main-project-container #project-container .image-container .project-number {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: 5px;
  right: 5px;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
  mix-blend-mode: difference;
}
#main-container #main-project-container #project-container .image-container .project-title, #main-container #main-project-container #project-container .image-container .project-description {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: top 300ms ease-in-out, opacity 300ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(100% - 60px);
}
#main-container #main-project-container #project-container .image-container .project-title {
  top: 30%;
  left: 50%;
  font-family: "Rhastelie", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}
#main-container #main-project-container #project-container .image-container .project-description {
  top: 70%;
  left: 50%;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
#main-container #main-project-container #project-container .image-container:hover {
  transform: scale(0.98);
  border: #f2f4f3 solid 3px;
  transition: transform 300ms ease-in-out, border 300ms ease-in-out 300ms;
}
#main-container #main-project-container #project-container .image-container:hover img {
  filter: blur(4px);
}
#main-container #main-project-container #project-container .image-container:hover .image-colorizer {
  opacity: 0.75;
}
#main-container #main-project-container #project-container .image-container:hover .project-number {
  opacity: 1;
  mix-blend-mode: normal;
  transition: opacity 300ms ease-in-out 300ms, mix-blend-mode 300ms ease;
}
#main-container #main-project-container #project-container .image-container:hover .project-title, #main-container #main-project-container #project-container .image-container:hover .project-description {
  transition: top 300ms ease-in-out 300ms, opacity 300ms ease-in-out 300ms;
}
#main-container #main-project-container #project-container .image-container:hover .project-title {
  top: 40%;
  left: 50%;
  opacity: 1;
}
#main-container #main-project-container #project-container .image-container:hover .project-description {
  top: 60%;
  left: 50%;
  opacity: 1;
}
#main-container #main-scrt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: basic-sans, sans-serif;
  text-align: center;
  margin: 10px 0px 300px 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
#main-container #main-scrt-container[data-state=visible] {
  opacity: 1;
}
#main-container #main-scrt-container #scrt-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px;
}
#main-container #main-scrt-container .scrt-description {
  font-size: 1rem;
  font-weight: 400;
  max-width: 500px;
  opacity: 0.9;
}
#main-container #main-scrt-container #scrt-cover-container {
  margin: 20px 0px;
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  transition: transform 300ms ease-in-out, border 300ms ease-in-out;
  border: transparent 3px solid;
  width: 400px;
  height: 400px;
}
#main-container #main-scrt-container #scrt-cover-container #scrt-album-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#main-container #main-scrt-container #scrt-cover-container #scrt-playpause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  width: 55px;
  height: 55px;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
#main-container #main-scrt-container #scrt-cover-container:hover {
  transform: scale(0.95);
  border: #f2f4f3 3px solid;
}
#main-container #main-scrt-container #scrt-cover-container:hover #scrt-album-cover {
  opacity: 0.9;
}
#main-container #main-scrt-container #scrt-cover-container:hover #scrt-playpause {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
}
#main-container #main-scrt-container #scrt-cover-container:hover #scrt-playpause:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
#main-container #main-scrt-container .scrt-spotify {
  margin: 20px;
  width: 40px;
  height: 40px;
  fill: #f2f4f3;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms ease-in-out, fill 300ms ease-in-out;
}
#main-container #main-scrt-container .scrt-spotify path {
  fill: inherit;
}
#main-container #main-scrt-container .scrt-spotify:hover {
  fill: #1ED760;
  transform: scale(0.95);
}

#form-container {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 2000ms ease-in-out;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
}
#form-container #form-back-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 45px;
  height: 45px;
  opacity: 1;
  transition: opacity 300ms ease-in-out 2500ms;
}
#form-container #form-back-container img {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
#form-container #form-back-container img:hover {
  transform: scale(0.9);
  opacity: 1;
}
#form-container #form-formulaire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 2000ms ease-in-out 500ms;
  max-width: 250px;
  width: 100%;
}
#form-container #form-formulaire-container h1 {
  font-family: "Rhastelie", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
#form-container #form-formulaire-container p {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}
#form-container #form-formulaire-container #form-error-message,
#form-container #form-formulaire-container #form-info-message,
#form-container #form-formulaire-container #form-confirm-message {
  max-width: 250px;
  border-radius: 5px;
  font-size: 0.7rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  height: auto;
  display: none;
}
#form-container #form-formulaire-container #form-error-message[data-state=visible],
#form-container #form-formulaire-container #form-info-message[data-state=visible],
#form-container #form-formulaire-container #form-confirm-message[data-state=visible] {
  display: block;
}
#form-container #form-formulaire-container #form-error-message {
  background-color: rgba(255, 0, 0, 0.4);
}
#form-container #form-formulaire-container #form-info-message {
  background-color: rgba(242, 244, 243, 0.2941176471);
}
#form-container #form-formulaire-container #form-confirm-message {
  background-color: rgba(0, 255, 0, 0.4);
}
#form-container #form-formulaire-container form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
  height: 500px;
  transition: height 1000ms ease-out;
}
#form-container #form-formulaire-container form[data-state=hidden] {
  height: 0px;
}
#form-container #form-formulaire-container form .form-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  width: 100%;
}
#form-container #form-formulaire-container form .form-input-container img {
  position: absolute;
  top: 26px;
  right: 5px;
  aspect-ratio: 1;
  width: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 1;
  pointer-events: none;
}
#form-container #form-formulaire-container form .form-input-container img[data-state=hidden] {
  opacity: 0;
}
#form-container #form-formulaire-container form .form-input-container .input-wrong[data-state=visible] {
  animation: bounce 500ms;
}
#form-container #form-formulaire-container form .form-input-container input {
  width: 100%;
  box-sizing: border-box;
  background-color: unset;
  border: none;
  border-bottom: #f2f4f3 solid 2px;
  outline: none;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 300ms ease-in-out;
  padding: 5px;
  border-radius: 0;
}
#form-container #form-formulaire-container form .form-input-container input[data-missing=true] {
  background-color: rgba(255, 0, 0, 0.4);
}
#form-container #form-formulaire-container form .form-input-container input:focus, #form-container #form-formulaire-container form .form-input-container textarea:focus {
  background-color: rgba(242, 244, 243, 0.2941176471);
}
#form-container #form-formulaire-container form .form-input-container textarea {
  background-color: unset;
  border: #f2f4f3 solid 2px;
  outline: none;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  resize: none;
  padding: 5px;
  transition: background-color 300ms ease-in-out;
  border-radius: 0;
  height: 100px;
}
#form-container #form-formulaire-container form .form-input-container textarea[data-missing=true] {
  background-color: rgba(255, 0, 0, 0.4);
}
#form-container #form-formulaire-container form .form-input-container label {
  font-size: 0.7em;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}
#form-container #form-formulaire-container form .form-input-container:has(input:focus) label, #form-container #form-formulaire-container form .form-input-container:has(textarea:focus) label {
  opacity: 1;
}
#form-container #form-button-submit {
  all: unset;
  margin-top: 20px;
  border: #f2f4f3 solid 2px;
  padding: 5px 20px;
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: transform 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
  cursor: pointer;
}
#form-container #form-button-submit:hover {
  transform: scale(0.95);
  color: #1d1d1d;
  background-color: #f2f4f3;
  font-weight: 600;
}
#form-container #form-button-submit[data-state=hidden] {
  opacity: 0;
  pointer-events: none;
}
#form-container #form-bg {
  height: 150%;
  width: 250%;
  background-color: #29335c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: height 2000ms ease-out 500ms;
}
#form-container[data-state=hidden] {
  transform: translateY(80%);
}
#form-container[data-state=hidden] #form-back-container {
  transition: opacity 100ms ease-in-out;
  opacity: 0;
}
#form-container[data-state=hidden] #form-back-container img {
  opacity: 0;
}
#form-container[data-state=hidden] #form-formulaire-container {
  transition: transform 2000ms ease-in-out;
  transform: translateY(100%);
}
#form-container[data-state=hidden] #form-bg {
  height: 0px;
  width: 250%;
}

@media screen and (max-width: 768px) {
  #main-container #main-project-container {
    width: calc(100vw - 20px);
  }
  #main-container #main-project-container #project-container {
    margin: 20px;
  }
  #main-container #main-project-container #project-container .image-container {
    width: calc(100vw - 120px);
    border: #f2f4f3 solid 3px;
  }
  #main-container #main-project-container #project-container .image-container .project-image {
    width: calc(100vw - 120px);
    filter: blur(2px);
  }
  #main-container #main-project-container #project-container .image-container .image-colorizer {
    width: calc(100vw - 120px);
    opacity: 0.75;
  }
  #main-container #main-project-container #project-container .image-container .project-number {
    opacity: 1;
    font-size: 3vw;
    mix-blend-mode: normal;
  }
  #main-container #main-project-container #project-container .image-container .project-title {
    top: 25%;
    left: 50%;
    opacity: 1;
    font-size: 7vw;
    text-align: center;
  }
  #main-container #main-project-container #project-container .image-container .project-description {
    top: 60%;
    left: 50%;
    opacity: 1;
    font-size: 4vw;
  }
  #main-container #main-project-container #project-container .image-container:hover {
    transform: scale(1);
  }
  #main-container #main-project-container #project-container .image-container:hover .project-image {
    filter: blur(2px);
  }
  #main-container #main-project-container #project-container .image-container:hover .project-title, #main-container #main-project-container #project-container .image-container:hover .project-description {
    transition: top 300ms ease-in-out 300ms, opacity 300ms ease-in-out 300ms;
  }
  #main-container #main-project-container #project-container .image-container:hover .project-title {
    top: 25%;
    left: 50%;
    opacity: 1;
  }
  #main-container #main-project-container #project-container .image-container:hover .project-description {
    top: 60%;
    left: 50%;
    opacity: 1;
  }
  #main-container #main-scrt-container {
    padding: 20px;
  }
  #main-container #main-scrt-container #scrt-cover-container {
    width: calc(100vw - 120px);
    height: calc(100vw - 120px);
    border: #f2f4f3 3px solid;
  }
  #main-container #main-scrt-container #scrt-cover-container #scrt-album-cover {
    width: 100%;
    height: 100%;
  }
  #main-container #main-scrt-container #scrt-cover-container #scrt-playpause {
    opacity: 1;
  }
  #main-container #main-scrt-container #scrt-cover-container:hover {
    transform: scale(1);
  }
  #main-container #main-scrt-container #scrt-cover-container:hover #scrt-album-cover {
    opacity: 0.9;
  }
  #main-container #main-scrt-container #scrt-cover-container:hover #scrt-playpause:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  #form-container {
    padding-top: 30px;
  }
  #form-container #form-back-container {
    width: 45px;
    height: 45px;
  }
}
@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  45% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-1px);
  }
  90% {
    transform: translate(1px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes opacityMaxMinMax {
  0% {
    opacity: 100%;
  }
  40% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}/*# sourceMappingURL=style.css.map */