$dark: #1d1d1d;
$light: #f2f4f3;
$lighttransparent: #f2f4f34b;
$red: #ff595e;
$blue: #29335c;

*{
    margin: 0;
    padding: 0;
    color: $light;
    touch-action: manipulation;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input {
  appearance: none;
}

html{
    overflow-x: hidden;
    background-color: $dark;
}

#entry-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 2000ms ease-in-out 300ms;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    #entry-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        transition: transform 1000ms ease-in-out;
        h1, p{
            color: $light;
        }
        h1{
            font-family: 'Rhastelie', sans-serif;
            font-weight: 400;
            font-size: 6rem;
            // text-shadow: 0px 0px 12px rgba(29,29,29,0.14);
        }
        p{
            font-family: basic-sans, sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    }
    #entry-button{
        all: unset;
        border: $light solid 3px;
        padding: 10px 20px;
        font-family: basic-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
        border-radius: 5px;
        transition: transform 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
        cursor: pointer;
        &[data-state="hidden"]{
            opacity: 0;
        }
        &:hover{
            transform: scale(0.95);
            color: $dark;
            background-color: $light;
            // font-weight: 600;
        }
    }
    #entry-bg{
        height: 150%;
        width: 250%;
        // background-color: #cdc5b4;
        background-color: $red;
        // background-color: #607b7d;
        // background-color: #d8dbe2;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: height 2000ms ease-in-out;
    }
    &[data-state="hidden"]{
        transform: translateY(-100%);
        #entry-text-container{
            transform: translateY(-100%);
        }
        #entry-bg{
            height: 20px;
        }
    }
}

#main-container{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    #main-banner{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        background: url(../images/banner.jpg);
        height: 250px;
        background-position: center;
        background-size: cover;
        z-index: -8;
    }
    #main-banner-gradient{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 250px;
        background: rgb(29,29,29);
        background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(29,29,29,0) 100%);
        z-index: -7;
    }
    #main-profile-container{
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        
        #main-name-username{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            #profile-pic{
                width: 100px;
                aspect-ratio: 1;
                border-radius: 10px;
                border: $light solid 2px;
                user-select: none;
                margin-bottom: 10px;
            }
            #profile-name{
                font-family: basic-sans, sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            #profile-username{
                font-family: 'Rhastelie', sans-serif;
                font-weight: 400;
                font-size: 2rem;
            }
        }
        
        #main-profile-socials-container{
            display: flex;
            flex-direction: row;
            gap: 10px;
            img{
                aspect-ratio: 1;
                width: 35px;
                transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
                &:hover{
                    transform: scale(0.9);
                    opacity: 1;
                }
            }
            &:hover img:not(:hover){
                opacity: 0.5;
            }
        }
        #contact-button{
            all: unset;
            font-family: basic-sans, sans-serif;
            font-weight: 400;
            font-style: normal;
            border: $light solid 2px;
            padding: 5px 20px;
            // border-radius: 5px;
            box-sizing: border-box;
            transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 300ms ease-in-out, font-weight 300ms ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: $light;
                color: $dark;
                transform: scale(0.95);
                font-weight: 600;
            }
        }
    }
    #main-project-container{
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        #play-pause-button{
            font-family: basic-sans, sans-serif;
            font-weight: 400;
            font-size: 0.8rem;
            margin-top: 10px;
            opacity: 0.1;
            cursor: pointer;
            letter-spacing: normal;
            user-select: none;
            padding: 5px 20px;
            width: auto;
            letter-spacing: 2px;
            text-decoration: underline transparent 1px;
            text-underline-offset: -3px;
            transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, letter-spacing 300ms ease-in-out, border-bottom 300ms ease-in-out, text-decoration 300ms ease-in-out, text-underline-offset 300ms ease-in-out;
            &:hover{
                opacity: 1;
                text-decoration: underline $light 1px;
                text-underline-offset: 3px;
            }
            &:active{
                transition: opacity 10ms ease-in-out;
                opacity: 0.6;
            }
        }
        #main-project-title{
            font-family: basic-sans, sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
            position: relative;
        }
        #project-container{
            button{
                box-sizing: border-box;
                width: 60px;
                background: none;
                outline: none;
                border: none;
                font-size: 3rem;
                opacity: 0.5;
                cursor: pointer;
                transition: opacity 300ms ease-in-out;
                &:hover{
                    opacity: 1;
                }
            }
            display: flex;
            flex-direction: row;
            .image-container{
                aspect-ratio: 16/9;
                width: 480px;
                background-color: none;
                overflow: hidden;
                position: relative;
                overflow: hidden;
                transition: transform 300ms ease-in-out 300ms, border 300ms ease-in-out;
                border: transparent solid 3px;
                cursor: url('../assets/open.png'), auto;
                img{
                    position: absolute;
                    width: 480px;
                    height: auto;
                    aspect-ratio: 16/9;
                    top: 0; left: 0;
                    transition: filter 300ms ease-in-out;
                }
                .image-colorizer{
                    aspect-ratio: 16/9;
                    width: 480px;
                    position: absolute;
                    top: 0; left: 0;
                    background-color: $dark;
                    opacity: 0;
                    transition: opacity 300ms ease-in-out;
                }
                .project-number{
                    position: absolute;
                    opacity: 1;
                    user-select: none;
                    top: 5px; right: 5px;
                    font-family: basic-sans, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    opacity: 0.3;
                    transition: opacity 300ms ease-in-out;
                    mix-blend-mode: difference;
                }
                .project-title, .project-description{
                    position: absolute;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: top 300ms ease-in-out, opacity 300ms ease-in-out;
                    user-select: none;
                    width: calc(100% - 60px);
                }
                .project-title{
                    top: 30%; left: 50%;
                    font-family: 'Rhastelie', sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    text-align: center;
                }
                .project-description{
                    top: 70%; left: 50%;
                    font-family: basic-sans, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    text-align: center;
                }
                &:hover{
                    transform: scale(0.98);
                    border: $light solid 3px;
                    transition: transform 300ms ease-in-out, border 300ms ease-in-out 300ms;
                    img{
                        filter: blur(4px);
                    }
                    .image-colorizer{
                        opacity: 0.75;
                    }
                    .project-number{
                        opacity: 1;
                        mix-blend-mode: normal;
                        transition: opacity 300ms ease-in-out 300ms, mix-blend-mode 300ms ease;
                    }
                    .project-title, .project-description{
                        transition: top 300ms ease-in-out 300ms, opacity 300ms ease-in-out 300ms;
                    }
                    .project-title{
                        top: 40%; left: 50%;
                        opacity: 1;
                    }
                    .project-description{
                        top: 60%; left: 50%;
                        opacity: 1;
                    }
                }

            }
        }
    }
}

#form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 2000ms ease-in-out;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    #form-back-container{
        position: fixed;
        top: 20px; right: 20px;
        z-index: 10;
        width: 45px;
        height: 45px;
        opacity: 1;
        transition: opacity 300ms ease-in-out 2500ms;
        img{
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
            &:hover{
                transform: scale(0.9);
                opacity: 1;
            }
        }
    }
    #form-formulaire-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 2000ms ease-in-out 500ms;
        max-width: 250px;
        width: 100%;
        h1{
            font-family: 'Rhastelie', sans-serif;
            font-weight: 400;
            font-size: 2rem;
        }
        p{
            font-family: basic-sans, sans-serif;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 10px;
        }
        #form-error-message,
        #form-info-message,
        #form-confirm-message{
            max-width: 250px;
            border-radius: 5px;
            font-size: 0.7rem;
            box-sizing: border-box;
            overflow: hidden;
            padding: 10px;
            height: auto;
            display: none;
            &[data-state="visible"]{
                display: block;
            }
        }
        #form-error-message{
            background-color: rgba(255, 0, 0, 0.4);
        }
        #form-info-message{
            background-color: $lighttransparent;
        }
        #form-confirm-message{
            background-color: rgba(0, 255, 0, 0.4);
        }
        form{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            max-width: 250px;
            width: 100%;
            overflow: hidden;
            height: 430px;
            transition: height 1000ms ease-out;
            &[data-state="hidden"]{
                height: 0px;
            }
            .form-input-container{
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 20px;
                font-family: basic-sans, sans-serif;
                font-weight: 400;
                font-style: normal;
                position: relative;
                width: 100%;
                img{
                    position: absolute;
                    top: 26px; right: 5px;
                    aspect-ratio: 1;
                    width: 15px;
                    user-select: none;
                    opacity: 1;
                    pointer-events: none;
                    &[data-state="hidden"]{
                        opacity: 0;
                    }
                }
                .input-wrong[data-state="visible"]{
                    animation: bounce 500ms;
                }
                input{
                    width: 100%;
                    box-sizing: border-box;
                    background-color: unset;
                    border: none;
                    border-bottom: $light solid 2px;
                    outline: none;
                    font-family: basic-sans, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    transition: background-color 300ms ease-in-out;
                    padding: 5px;
                    border-radius: 0;
                    &[data-missing="true"]{
                        background-color: rgba(255, 0, 0, 0.4);
                    }
                }
                input:focus, textarea:focus{
                    background-color: $lighttransparent;
                }
                textarea{
                    background-color: unset;
                    border: $light solid 2px;
                    outline: none;
                    font-family: basic-sans, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    resize: none;
                    padding: 5px;
                    transition: background-color 300ms ease-in-out;
                    border-radius: 0;
                    height: 100px;
                    &[data-missing="true"]{
                        background-color: rgba(255, 0, 0, 0.4);
                    }
                }
                label{
                    font-size: 0.7em;
                    opacity: 0.5;
                    transition: opacity 300ms ease-in-out;
                }
                &:has(input:focus) label, &:has(textarea:focus) label{
                    opacity: 1;
                }
            }
        }
    }
    #form-button-submit{
        all: unset;
        margin-top: 20px;
        border: $light solid 2px;
        padding: 5px 20px;
        font-family: basic-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        // border-radius: 5px;
        transition: transform 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out, opacity 300ms ease-out;
        cursor: pointer;
        &:hover{
            transform: scale(0.95);
            color: $dark;
            background-color: $light;
            font-weight: 600;
        }
        &[data-state="hidden"]{
            opacity: 0;
            pointer-events: none;
        }
    }
    #form-bg{
        height: 150%;
        width: 250%;
        background-color: $blue;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: height 2000ms ease-out 500ms;
    }
    &[data-state="hidden"]{
        transform: translateY(80%);
        #form-back-container{
            transition: opacity 100ms ease-in-out;
            opacity: 0;
            img{
                opacity: 0;
            }
        }
        #form-formulaire-container{
            transition: transform 2000ms ease-in-out;
            transform: translateY(100%);
        }
        
        #form-bg{
            height: 0px;
            width: 250%;
        }
        
    }
}

@media screen and (max-width: 768px){
    #main-container{
        #main-project-container{
            width: calc(100vw - 20px);
            #project-container{
                margin: 20px;
                .image-container{
                    width: calc(100vw - 120px);
                    border: $light solid 3px;
                    .project-image{
                        width: calc(100vw - 120px);
                        filter: blur(2px);
                    }
                    .image-colorizer{
                        width: calc(100vw - 120px);
                        opacity: 0.75;
                    }
                    .project-number{
                        opacity: 1;
                        font-size: 3vw;
                        mix-blend-mode: normal;
                    }
                    .project-title{
                        top: 25%; left: 50%;
                        opacity: 1;
                        font-size: 7vw;
                        text-align: center;
            
                    }
                    .project-description{
                        top: 60%; left: 50%;
                        opacity: 1;
                        font-size: 4vw;
                    }
                    &:hover{
                        transform: scale(1);
                        .project-image{
                            filter: blur(2px);
                        }
                        .project-title, .project-description{
                            transition: top 300ms ease-in-out 300ms, opacity 300ms ease-in-out 300ms;
                        }
                        .project-title{
                            top: 25%; left: 50%;
                            opacity: 1;
                        }
                        .project-description{
                            top: 60%; left: 50%;
                            opacity: 1;
                        }
                    }
                }
                
            }
        }
    }
    #form-container{
        padding-top: 30px;
        #form-back-container{
            width: 45px;
            height: 45px;
        }
    }
}

@keyframes bounce {
    0%{
        transform: translateX(0px);
    }
    15%{
        transform: translateX(-10px);
    }
    30%{
        transform: translateX(10px);
    }
    45%{
        transform: translateX(-5px);
    }
    60%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-1px);
    }
    90%{
        transform: translate(1px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes opacityMaxMinMax {
    0%{
        opacity: 100%;
    }
    40%{
        opacity: 0%;
    }
    60%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}